/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5; /* Fondo gris claro */
    color: #333; /* Color de texto */
    margin: 0;
}

/* Estilos del encabezado */
header {
    background-color: #4CAF50; /* Verde Material Design */
    color: white;
    padding: 1.5rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenedor general */
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    padding-top: 2rem;
}

/* Estilos para las secciones */
section {
    margin: 2rem 0;
    padding: 1rem;
}

.main-content h2 {
    color: #4CAF50; 
    margin-bottom: 1rem;
}

/* Estilos de los productos */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 1.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px); /* Ancho ajustado para 2 productos por fila */
}

.product h3 {
    color: #333;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.add-to-cart { 
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black; /* negro */
    color: #F5F5F5;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #45A049;
}

/* Carrito */
#cart {
    width: 35%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1.5rem 0;
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.1);
}

#cart h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

#cart-item p {
    margin-bottom: 10px;
}

#cart-total {
    font-weight: bold;
}

#checkout {
    background-color: #4CAF50; /* Verde Material Design */
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#checkout:hover {
    background-color: #45A049;
}

/* Estilos del footer */
footer {
    background-color: #616161; /* Gris oscuro */
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
    position: relative;
    width: 100%;
}

.remove-item {
    background-color: #ec6157; /* rojo */  
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;    
    border-radius: 4px;
    left: 0;
}

.remove_item:hover {
    background-color: #e53935; /* rojo */
}


#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#checkout-section {
    margin-top: 2rem;
}

#address-form {
    display: flex;
    flex-direction: column;
}

#address-form input, #address-form button {
    padding: 10px;
    margin-bottom: 10px;
}